<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 mt-4">
      <div class="card">
        <div class="card-header">
          <h3>{{ btnAction }} CATEGORY</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="formCategory">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="name">NAME:</label>
                  <input
                    formControlName="name"
                    name="name"
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>

              <div class="col-6">
                <div class="form-group">
                  <label for="status">STATUS:</label>
                  <select
                    formControlName="status"
                    name="status"
                    class="form-control"
                  >
                    <option value="true">YES</option>
                    <option value="false">NO</option>
                  </select>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="description">BODY:</label>
                  <editor
                    formControlName="description"
                    name="description"
                    apiKey="Get your free API key at tiny.cloud and paste it here"
                    [init]="{
                      icons: 'material',
                      skin: 'borderless',
                      plugins: 'wordcount',
                      menubar: false,
                      min_height: 150
                    }"
                  ></editor>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <button
                    (click)="edit ? updateCategory() : addCategory()"
                    class="btn btn-block btn-lg btn-primary"
                  >
                    {{ btnAction }} CATEGORY
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="card">
        <div class="card-header">
          <h3>CATEGORIES</h3>
        </div>
        <div class="card-body">
          <table
            class="table table-bordered table-hover table-condensed table-striped"
          >
            <thead>
              <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>BODY</th>
                <th>STATUS</th>
                <th colspan="2">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories; let i = index">
                <th>{{ i + 1 }}</th>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>{{ category.status }}</td>
                <td>
                  <div class="btn-group">
                    <button
                      (click)="editCategory(category._id)"
                      class="btn btn-warning btn-sm"
                    >
                      EDIT
                    </button>
                    <button
                      (click)="deleteCategory(category)"
                      class="btn btn-danger btn-sm"
                    >
                      DELETE
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
